:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-base: 16px;
    --font-size-11xl: 30px;
    --font-size-mini: 15px;
    --font-size-xl: 20px;
    --font-size-smi: 13px;

    /* Colors */
    --color-white: #fff;
    --color-mediumpurple: #9885fa;
    --color-tomato: #fc4545;
    --color-limegreen: #58b61f;
    --color-gray-100: #20232f;

    /* border radiuses */
    --br-9xl: 28px;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: black;
    color: #eee;
}

.hero {
    /* background image */
    width: 100%;
    height: 100%;
    min-height: 82vh;
    max-width: 100%;
    background: url(../Images/98@3x.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.side-panal {
    position: absolute;
    top: 22%;
    bottom: 0;
    height: 87%;
    left: 0;
    background: #272C3A;
    width: 87px;
    overflow: hidden;
    border: 2px solid #323746;
    border-radius: 0px 60px 60px 0px;
    max-width: 100%;
    max-height: 100%;
}

.side-panal a {
    position: relative;
    font-size: 40px;
    display: table;
    width: 10px;
    padding: 18px;
    border-bottom: 1px solid #414141;
    margin-left: 10px;
}

.side-panal img {
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.side-panal img:hover {
    filter: grayscale(0%);
    transform: translateY(-5px)
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.footer {
    background-color: #272c3a;
    height: 179px;
    max-width: 100%;
    max-height: 100%;

}

.event-log {
    position: absolute;
    top: 870px;
    left: 198px;
    display: inline-block;
    width: 103px;
    height: 30px;
}

.home-parent {
    position: absolute;
    top: 920px;
    left: 200px;
    width: 388px;
    height: 48px;

}

.home-parent h2,
h5 {
    margin-left: 40px;
}

.forma-1-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 42px;
    overflow: hidden;
}

.home-parent1 {
    position: absolute;
    top: 920px;
    left: 638px;
    width: 384px;
    height: 46px;
}

.home-parent1 h2,
h5 {
    margin-left: 40px;
}

.home-parent2 {
    position: absolute;
    top: 920px;
    left: 1090px;
    width: 384px;
    height: 46px;
}

.home-parent2 h2,
h5 {
    margin-left: 40px;
}

.home-parent3 {
    position: absolute;
    top: 920px;
    left: 1500px;
    width: 384px;
    height: 46px;

}

.home-parent3 h2,
h5 {
    margin-left: 40px;
}

.group-child {
    left: 1096px;
    width: 100%;
    height: 100px;

}

.arm-mode h5 {
    position: absolute;
    top: 40px;
    left: 1147px;
    display: inline-block;
    width: 103px;
    height: 30px;
}

.arm-mode img {
    position: absolute;
    top: 30px;
    left: 1240px;
    display: inline-block;
    width: 103px;
    height: 30px;
}

.sub {
    position: absolute;
    top: 38px;
    left: 1330px;
    display: inline-block;
    width: 103px;
    height: 30px;
    font-size: 14px;
    color: #58B61F;
}

.System-stat h5 {
    position: absolute;
    top: 38px;
    left: 1370px;
    display: inline-block;
    width: 103px;
    height: 30px;
}

.System-stat img {
    position: absolute;
    top: 30px;
    left: 1600px;
    display: inline-block;
    width: 103px;
    height: 30px;
}

.System-stat .sub1 {
    position: absolute;
    top: 38px;
    left: 1520px;
    display: inline-block;
    width: 103px;
    height: 30px;
    color: #58B61F;
}

.log-out h5 {
    position: absolute;
    top: 38px;
    left: 1730px;
    display: inline-block;
    width: 103px;
    height: 30px;

}

.log-out img {
    position: absolute;
    top: 30px;
    left: 1790px;
    display: inline-block;
    width: 103px;
    height: 30px;
}

/* home text */
.Yashi-Container {
    position: absolute;
    top: 116px;
    left: 209px;
    width: 645px;
    height: 226px;
    font-size: 40px;
    color: #67cecd;
}

.Yashi-Container img {
    top: 0;
    left: 0;
    width: 218px;
    height: 226px;
    object-fit: cover;

}

.Yashi-Container .text-yashi {
    position: absolute;
    top: 50px;
    left: 204px;
    display: inline-block;
    width: 441px;
    height: 131px
}

.Yashi-Container h2 {
    color: #eee;
    font-size: 40px;
}

.Yashi-Container .text-yashi span {
    color: #67cecd;
}

.Yashi-Container p {
    color: #eee;
    font-size: 25px;
}

.Yashi-Container .text-yashi .not-secured {
    color: #fc4545;
}

/* dragger */
/* card */

.group-wrapper {
    position: absolute;
    top: 500px;
    left: 200px;
    width: 1550px;
    height: 270px;
    overflow-x: auto;
    grid-template-columns: auto auto auto;
}

.location h2 {
    position: absolute;
    top: 450px;
    left: 239px;
    font-size: 25px;
    display: inline-block;
    width: 162px;
    height: 27px;
}

/* element1 */

.bg-2-image,
.frame-container,
.frame-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 482px;
    height: 250px;
    overflow: hidden;
}

.group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-9xl);
    background-color: var(--color-gray-100);
    width: 482px;
    height: 250px;
}

.ellipse-parent {
    position: absolute;
    top: 23px;
    left: 21px;
    width: 178px;
    height: 24px;
}

.ellipse-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-limegreen);
    width: 24px;
    height: 24px;
}

.group-child1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    left: 80px;
    background-color: var(--color-tomato);
}

.armed,
.div,
.div1,
.unarmed {
    position: absolute;
    top: 3px;
    left: 27px;
    display: inline-block;
    width: 48px;
    height: 19px;
}

.div,
.div1,
.unarmed {
    top: 4px;
    left: 7px;
    width: 10px;
    height: 17px;
}

.div1,
.unarmed {
    left: 88px;
}

.unarmed {
    top: 3px;
    left: 108px;
    width: 70px;
    height: 19px;
}

.devices,
.living-room {
    position: absolute;
    top: 120px;
    left: 29px;
    font-size: var(--font-size-11xl);
    display: inline-block;
    width: 185px;
    height: 40px;
}

.devices {
    top: 169px;
    font-size: var(--font-size-base);
    width: 90px;
    height: 24px;
    color: var(--color-mediumpurple);
}

.bg-4-image {
    position: absolute;
    top: 45px;
    left: 214px;
    width: 450px;
    height: 267px;
    object-fit: cover;
}

/* element2 */
.frame-wrapper1 {
    position: absolute;
    top: 0;
    left: 524px;
    width: 482px;
    height: 250px;
}

.bg-2-image {
    left: 164px;
    width: 463px;
    height: 302px;
    object-fit: cover;
}

/* element3 */
.bg-3-image {
    position: absolute;
    top: 0;
    left: 214px;
    width: 415px;
    height: 277px;
    object-fit: cover;
}

.group-parent2 {
    position: absolute;
    top: 0;
    left: 1048px;
    width: 482px;
    height: 250px;
    overflow: hidden;
}

/* element4 */
.bg-5-image,
.frame-wrapper2 {
    position: absolute;
    top: 2px;
    left: 1550px;
    width: 482px;
    height: 250px;
}

/* element5 */
.bg-5-image {
    top: -11px;
    left: 164px;
    width: 463px;
    height: 302px;
    object-fit: cover;
}

.frame-wrapper3 {
    position: absolute;
    top: 2px;
    left: 2074px;
    width: 482px;
    height: 250px;
}

/* element6 */
.group-parent5 {
    position: absolute;
    top: 2px;
    left: 2598px;
    width: 482px;
    height: 250px;
    overflow: hidden;
}

.bg-6-image {
    position: absolute;
    top: -14px;
    left: 214px;
    width: 415px;
    height: 277px;
    object-fit: cover;
}





/* mediaquary */
@media(min-width: 1400px) and (max-width: 1700px) {
    .hero {
        /* background image */
        width: auto;
        height: auto;
        background-size: cover;
    }

    .group-wrapper {
        position: absolute;
        top: 25rem;
        left: 14.375rem;
        width: 90%;
        height: 16.875rem;
        max-width: 80%;
        overflow-x: auto;
        grid-template-columns: auto auto auto;
    }

    .location h2 {
        top: 21.875rem;
        left: 14.9375rem;
        font-size: 1.25rem;
    }


    /* frame bg and width */
    .frame-container,
    .frame-div {
        width: 21.875rem;
        height: 15.625rem;
    }

    .group-inner {
        width: 21.875rem;
        height: 15.625rem;
        overflow: hidden;
    }


    /* Frame position */
    .frame-wrapper1 {
        left: 23.75rem;
    }

    .group-parent2 {
        left: 47.5rem;
    }

    .frame-wrapper2 {
        left: 71.25rem;
    }

    .frame-wrapper3 {
        left: 95rem;
    }

    .group-parent5 {
        left: 118.75rem;
    }

    .bg-4-image {
        top: 4.6rem;
        left: 7.125rem;
    }

    .bg-2-image {
        top: 2.5rem;
        left: 7.125rem;
    }

    .bg-3-image {
        top: 3.5rem;
        left: 7.8125rem;
    }

    .bg-5-image {
        top: 2.5rem;
        left: 7.125rem;
    }

    .bg-6-image {
        top: 3.5rem;
        left: 7.125rem;
    }


    .arm-mode h5 {
        left: 60%;
    }

    .arm-mode img {
        left: 66%;
    }

    .sub {
        left: 71%;
    }

    .System-stat h5 {
        left: 72%;
    }

    .System-stat img {
        left: 85%;
    }

    .System-stat .sub1 {
        left: 81%;
    }

    .log-out h5 {
        left: 89%;
    }

    .log-out img {
        left: 94%;
        width: 5%;
    }

    .event-log {
        top: 49.375rem; 
        left: 12.375rem; 
    }
    
    .home-parent {
        top: 51.875rem; 
        left: 9.375rem; 
    }
    
    .home-parent1 {
        top: 51.875rem; 
        left: 32%; 
    }
    
    .home-parent2 {
        top: 51.875rem; 
        left: 56%; 
    }
    
    .home-parent3 {
        top: 51.875rem;
        left: 79%; 
        width: 17.5rem; 
    }
    
    .footer {
        height: 11.1875rem; 
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .side-panal a {
        font-size: 2.1875rem; 
    }
    
    .side-panal img {
        width: 1.375rem; 
    }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
    .hero {
        /* background image */
        width: auto;
        height: auto;
        background-size: cover;
    }
    
    .group-wrapper {
        position: absolute;
        top: 25rem; 
        left: 9.375rem; 
        width: 90%;
        height: 16.875rem; 
        max-width: 80%;
        overflow-x: auto;
        grid-template-columns: auto auto auto;
    }
    
    .location h2 {
        top: 21.875rem; 
        left: 14.9375rem; 
        font-size: 1.25rem; 
    }
    
    /* frame bg and width */
    .frame-container,
    .frame-div {
        width: 21.875rem; 
        height: 15.625rem; 
        overflow: hidden;
    }
    
    .group-inner {
        width: 21.875rem; 
        height: 15.625rem; 
        overflow: hidden;
    }
    

/* Frame position */
.frame-wrapper1 {
    left: 23.75rem; 
}

.group-parent2 {
    left: 47.5rem; 
}

.frame-wrapper2 {
    left: 71.25rem; 
}

.frame-wrapper3 {
    left: 95rem; 
}

.group-parent5 {
    left: 118.75rem; 
}

.bg-4-image {
    top: 2.875rem; 
    left: 7.125rem; 
}

.bg-2-image {
    top: 1.5625rem; 
    left: 7.125rem; 
}

.bg-3-image {
    top: 2.5rem; 
    left: 8.125rem; 
}

.bg-5-image {
    top: 1.5625rem; 
    left: 7.125rem; 
}

.bg-6-image {
    top: 2.5rem; 
    left: 7.125rem;
}


    .arm-mode h5 {
        left: 44%;
    }

    .arm-mode img {
        left: 52%;
    }

    .sub {
        left: 60%;
    }

    .System-stat h5 {
        left: 60%;
    }

    .System-stat img {
        left: 79%;
    }

    .System-stat .sub1 {
        left: 73%;
    }

    .log-out h5 {
        left: 85%;
    }

    .log-out img {
        left: 94%;
        width: 5%;
    }

    .event-log {
        top: 49.375rem; 
        left: 8.125rem; 
    }
    
    .home-parent {
        top: 51.875rem; 
        left: 7%; 
        font-size: 0.75rem; 
    }

    .home-parent1 {
        top: 51.875rem;
        left: 31%;
        font-size: 0.75rem;
    }
    
    .home-parent2 {
        top: 51.875rem;
        left: 54%;
        font-size: 0.75rem;
    }
    
    .home-parent3 {
        top: 51.875rem; 
        left: 77%; 
        width: 22%;
        font-size: 0.75rem; 
    }
    
    .footer {
        height: 11.1875rem; 
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .side-panal a {
        font-size: 2.1875rem; 
    }
    
    .side-panal img {
        width: 1.375rem; 
    }
    

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .hero {
        /* background image */
        width: auto;
        height: auto;
        background-size: cover;
    }

    .group-wrapper {
        position: absolute;
        top: 25rem; 
        left: 9.375rem; 
        width: 90%;
        height: 16.875rem; 
        max-width: 80%;
        overflow-x: auto;
        grid-template-columns: auto auto;
    }
    
    .Yashi-Container {
        top: 7.25rem;
        left: 8.4375rem;
        width: 31.25rem; 
    }
    
    .Yashi-Container .text-yashi {
        width: 18.75rem; 
    }
    
    .location h2 {
        top: 21.875rem; 
        left: 10.625rem; 
        font-size: 1.25rem; 
    }
    
    /* frame bg and width */
    .frame-container,
    .frame-div {
        width: 21.875rem; 
        height: 15.625rem; 
        overflow: hidden;
    }
    
    .group-inner {
        width: 21.875rem; 
        height: 15.625rem; 
        overflow: hidden;
    }
    

/* Frame position */
.frame-wrapper1 {
    left: 23.75rem; 
}

.group-parent2 {
    left: 47.5rem; 
}

.frame-wrapper2 {
    left: 71.25rem; 
}

.frame-wrapper3 {
    left: 95rem; 
}

.group-parent5 {
    left: 118.75rem; 
}

.bg-4-image {
    top: 2.875rem; 
    left: 7.125rem; 
}

.bg-2-image {
    top: 1.5625rem; 
    left: 7.125rem; 
}

.bg-3-image {
    top: 2.5rem; 
    left: 8.125rem;
}

.bg-5-image {
    top: 1.5625rem; 
    left: 7.125rem; 
}

.bg-6-image {
    top: 2.5rem;
    left: 7.125rem; 
}


    .arm-mode h5 {
        left: 28%;
    }

    .arm-mode img {
        left: 39%;
    }

    .sub {
        left: 49%;
    }

    .System-stat h5 {
        left: 49%;
    }

    .System-stat img {
        left: 74%;
    }

    .System-stat .sub1 {
        left: 66%;
    }

    .log-out h5 {
        left: 82%;
        width: 5%;
    }

    .log-out img {
        left: 94%;
        width: 5%;
    }

    .event-log {
        top: 49.375rem; 
        left: 8.125rem; 
    }
    
    .home-parent {
        top: 51.875rem; 
        left: 15%; 
        font-size: 0.75rem; 
    }
    
    .home-parent1 {
        top: 55.625rem; 
        left: 15%; 
        font-size: 0.75rem; 
    }
    
    .home-parent2 {
        top: 55rem; 
        left: 63%; 
        font-size: 0.75rem; 
        width: 18.75rem; 
    }
    
    .home-parent3 {
        top: 51.875rem; 
        left: 63%; 
        width: 18.75rem; 
        font-size: 0.75rem
    }
    
    .footer {
        height: 11.1875rem;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .side-panal a {
        font-size: 2.1875rem;
    }
    
    .side-panal img {
        width: 1.375rem;
    }
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hero {
        /* background image */
        width: auto;
        height: auto;
        background-size: cover;
    }
    
    .group-wrapper {
        position: absolute;
        top: 25rem; 
        left: 6.875rem; 
        width: 90%;
        height: 16.875rem; 
        max-width: 80%;
        overflow-x: auto;
    }
    
    .Yashi-Container img {
        width: 9.375rem; 
        height: 9.375rem; 
    }
    
    .Yashi-Container {
        top: 7.25rem; 
        left: 5rem; 
        width: 31.25rem; 
    }
    
    .Yashi-Container .text-yashi {
        width: 18.75rem; 
        top: 1.25rem; 
        left: 9.375rem; 
    }

    .location h2 {
        top: 21.875rem; 
        left: 7.5rem; 
        font-size: 1.25rem; 
    }
    
    /* frame bg and width */
    .frame-container
    .frame-div {
        width: 21.875rem; 
        height: 15.625rem; 
        overflow: hidden;
    }
    
    .group-inner {
        width: 21.875rem; 
        height: 15.625rem; 
        overflow: hidden;
    }
    

/* Frame position */
.frame-wrapper1 {
    left: 23.75rem; 
}

.group-parent2 {
    left: 47.5rem; 
}

.frame-wrapper2 {
    left: 71.25rem; 
}

.frame-wrapper3 {
    left: 95rem; 
}

.group-parent5 {
    left: 118.75rem; 
}

.bg-4-image {
    top: 2.875rem; 
    left: 7.125rem;
}

.bg-2-image {
    top: 1.5625rem; 
    left: 7.125rem; 
}

.bg-3-image {
    top: 2.5rem; 
    left: 8.125rem; 
}

.bg-5-image {
    top: 1.5625rem; 
    left: 7.125rem;
}

.bg-6-image {
    top: 2.5rem; 
    left: 7.125rem; 
}


    .arm-mode h5 {
        left: 4%;
    }

    .arm-mode img {
        left: 17%;
    }

    .sub {
        left: 30%;
    }

    .System-stat h5 {
        left: 30%;
    }

    .System-stat img {
        left: 63%;
    }

    .System-stat .sub1 {
        left: 53%;
    }

    .log-out h5 {
        left: 73%;
        width: 5%;
    }

    .log-out img {
        left: 90%;
        width: 5%;
    }

    .event-log {
        top: 49.375rem;
        left: 8.125rem; 
    }
    
    .home-parent {
        top: 51.875rem; 
        left: 15%; 
        font-size: 0.75rem; 
    }
    
    .home-parent1 {
        top: 55.625rem; 
        left: 15%; 
        font-size: 0.75rem; 
    }
    
    .home-parent2 {
        top: 55rem;
        left: 57%; 
        font-size: 0.75rem; 
        width: 40%; 
    }
    
    .home-parent3 {
        top: 51.875rem; 
        left: 57%; 
        width: 40%; 
        font-size: 0.75rem; 
    }
    
    .footer {
        height: 11.1875rem; 
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .side-panal {
        width: 4.1875rem; 
        height: 85%; 
    }
    
    .side-panal a {
        font-size: 2.375rem; 
        margin-left: 0.0625rem; 
        padding: 0.9375rem; 
    }
    
    .side-panal img {
        width: 1.25rem; 
    }
    

}

@media (max-width: 575.98px) {
    .hero {
        /* background image */
        width: auto;
        height: auto;
        background-size: cover;
    }

    .group-wrapper {
        position: absolute;
        top: 400px;
        left: 110px;
        width: 90%;
        height: 270px;
        max-width: 80%;
        overflow-x: auto;
    }

    .Yashi-Container img {
        width: 150px;
        height: 150px;
    }

    .Yashi-Container {
        top: 116px;
        left: 80px;
        width: 500px;

    }

    .Yashi-Container .text-yashi {
        width: 300px;
        top: 20px;
        left: 150px;
    }

    .location h2 {
        top: 350px;
        left: 120px;
        font-size: 20px;

    }

    /* frame bg and width */
    .frame-container,
    .frame-div {
        width: 350px;
        height: 250px;
        overflow: hidden;
    }

    .group-inner {
        width: 350px;
        height: 250px;
        overflow: hidden;
    }

    /* Frame position */
    .frame-wrapper1 {
        left: 380px;
    }

    .group-parent2 {
        left: 760px;
    }

    .frame-wrapper2 {
        left: 1140px;
    }

    .frame-wrapper3 {
        left: 1520px;
    }

    .group-parent5 {
        left: 1900px;
    }

    .bg-4-image {
        top: 46px;
        left: 114px;

    }

    .bg-2-image {
        top: 25px;
        left: 114px;

    }

    .bg-3-image {
        top: 40px;
        left: 130px;

    }

    .bg-5-image {
        top: 25px;
        left: 114px;

    }

    .bg-6-image {
        top: 40px;
        left: 114px;

    }

    .arm-mode h5 {
        left: 4%;
    }

    .arm-mode img {
        left: 17%;
    }

    .sub {
        left: 30%;
    }

    .System-stat h5 {
        left: 30%;
    }

    .System-stat img {
        left: 63%;
    }

    .System-stat .sub1 {
        left: 53%;
    }

    .log-out h5 {
        left: 73%;
        width: 5%;
    }

    .log-out img {
        left: 90%;
        width: 5%;
    }

    .event-log {
        top: 790px;
        left: 130px;
    }

    .home-parent {
        top: 830px;
        left: 15%;
        font-size: 12px;
    }

    .home-parent1 {
        top: 890px;
        left: 15%;
        font-size: 12px;
    }

    .home-parent2 {
        top: 880px;
        left: 57%;
        font-size: 12px;
        width: 40%;
    }

    .home-parent3 {
        top: 830px;
        left: 57%;
        width: 40%;
        font-size: 12px;
    }

    .footer {
        height: 179px;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .side-panal {
        width: 67px;
        height: 85%;

    }

    .side-panal a {
        font-size: 38px;
        margin-left: 1px;
        padding: 15px;
    }

    .side-panal img {
        width: 20px;
    }


}